<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<header>
    <div class="container">
    <a href="/" class="logo-wrap">
    <span class="logo"></span>
    </a>
    <div class="toggle-nav"></div>

        <nav>
            <ul>
                <li class="active"><a href="">Home</a></li>
                <li><a href="resume">Resume</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>

    </div>
</header>
