<head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
    <!-- TITLE -->
            <title>{{ page.title }}</title>

    <!-- INFO(S) -->
            <link rel="author" href="humans.txt" />
            <meta name="description" content="{{ site.description }}">
            <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ICONS -->
        <!-- Favicons -->
            <link rel="shortcut icon" href="assets/img/favicon.png">
        <!-- Apple Touch Icon(s) -->
            <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png"/>

    <!-- CSS -->
            <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | prepend: site.baseurl }}">
            <link rel="stylesheet" href="{{ "/assets/css/base.css" | prepend: site.baseurl }}">
            <link rel="stylesheet" href="{{ "/assets/bower/octicons/octicons/octicons.css" | prepend: site.baseurl }}">
            <!-- LOADING BAR STYLESHEETS -->
            <link rel="stylesheet" type="text/css" href="css/loadingbar.css" />

    <!-- SCRIPTS -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script type="text/javascript" src="{{ "/assets/js/toggle-nav.js" | prepend: site.baseurl }}"></script>
            <!-- LOADING BAR SCRIPTS -->	
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
            <script type="text/javascript" src="js/jquery.loadingbar.js"></script>

    <!-- TYPEKIT -->
            <script type="text/javascript" src="//use.typekit.net/bnv8gvu.js"></script>
            <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- FACEBOOK -->
            <meta property="og:url" content="http://suriyaa.me">
            <meta property="og:type" content="website">
            <meta property="og:title" content="Suriyaa Kudo's Website">
            <meta property="og:locale" content="en_US">
            <meta property="og:image" content="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/p180x540/406703_250758341710755_1456972500_n.jpg">
            <meta property="og:description" content="The official website of Suriyaa Kudo.">
            <meta property="og:site_name" content="Suriyaa Kudo's Website">
            <link rel="opengraph" href="https://graph.facebook.com/755484181143464/">

    <!-- TWITTER -->
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="@SuriyaaKudoIsc">
            <meta name="twitter:title" content="Suriyaa Kudo's Website">
            <meta name="twitter:description" content="The official website of Suriyaa Kudo.">
            <meta name="twitter:creator" content="@SuriyaaKudoIsc">
            <meta name="twitter:image:src" content="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/p180x540/406703_250758341710755_1456972500_n.jpg">
            <meta name="twitter:domain" content="suriyaa.me">

</head>
